@charset "UTF-8";

/* Definir o tipo de letra, de onde são as margens, o estilo e o peso do tipo de letra */
:root {
	--primary-color: #3FB498;
	/*EX background-color: var(--primary-color); var(--secoundary-color); var(--tertiary-color); var(--quarternary-color); var(--fith-color); var(--sixth-color);*/
	--secoundary-color: #212427;
	/* black for text */
	--tertiary-color: #F4F4F4;
	/*  */
	--quarternary-color: #009270;
	/* hover*/
	--fith-color: #9AD4C6;
	/* hover*/
	--sixth-color: #EAEAEA;
}

body {
	font-family: Halyard Text Regular, halyard-text, halyard-display;
	background-color: var(--tertiary-color);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

header {
	width: 100%;
	height: 110px;
	background-color: var(--primary-color);
}

p {
	/*color: white;*/
}

	/*para paragrafos do tipo - */
p1 {
	color: var(--secoundary-color);
	font-weight: 100;
	font-size: 16px;
	font-weight: 100;
	text-align: left;
}

p3 {
	color: var(--secoundary-color);
	font-weight: 400;
	font-size: 16px;
	text-align: left;
	margin: 0px 0px 2px 0px;
}

	/*para paragrafos do tipo - */
p4 {
	color: var(--secoundary-color);
	line-height: normal;
	font-weight: lighter;
	margin: 0px 0px 10px 0px;
}

	/*para títulos do tipo - */
h1 {
	color: var(--quarternary-color);
	text-align: left;
	font-size: 70px;
	margin: 0 0 42px 0;
}

	/*para títulos do tipo - */
h2 {
	line-height: 0;
	margin: 42px 0px 24px 0px;
	font-weight: 500;
}

h3 {
	font-size: 32px;
	font-weight: 300;
	line-height: 24px;
	margin: 0px 0px 28px 0px;
}


	/*para títulos do tipo - */
h4 {
	color: var(--secoundary-color);
	font-size: 24px;
	line-height: normal;
	font-weight: 500;
	margin: 0px 0px 10px 0px;
}


.banner {
	width: 100%;
	height: 1000px;
}

.banner2 {
	width: 100%;
	height: 1000px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/bless.jpg");
	background-size: cover;
	background-position: center;
}


.SectionOffset {
	position: relative;
	height: 84px;
}



/* Collapsible -------------------------------- */					/* Collapsible -------------------------------- */					/* Collapsible -------------------------------- */


.titlebig {
	font-family: "degular-text", sans-serif;
	font-weight: 600;
	font-size: 24pt;
	margin: 0 0 0 28px;
}

/* Collapsible is the Open*/
.collapsible {
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
	padding: 12px 18px 12px 48px;
	width: 100%;
	border: none;
	text-align: left;
	font-size: 15px;
	margin-top: 32px;
}

.active,
.collapsible:hover {
	background-color: var(--quarternary-color);


}

.activated {
	background-color: white;
	color: var(--secoundary-color);
}

.activemenu {
	font-weight: 400;
	color: var(--primary-color) !important;
}

/* When content is hidden */
.content {
	display: block;
	/* Initially visible */
	overflow: hidden;
	background-color: #f1f1f1;
	opacity: 1;
	/* Start with opacity 1 for fade effect */
	transition: opacity 0.5s ease, max-height 0.5s ease;
	/* Transition for opacity and height */
	max-height: 0;
	/* Start with height 0 */
	visibility: hidden;
	/* Initially hidden */
}
/* When content is shown (starting position)*/
.content.show {
	visibility: visible;
	/* Make it visible when shown */
	opacity: 1;
	/* Fully visible */
	max-height: 1000px;
	/* Allow height to adjust */
}
/* Collapsible ---------------- END */						/* Collapsible ---------------- END */						/* Collapsible ---------------- END */




.icon {																		/* Check This  */
	padding: 12px 0px 0px 0px;
	display: flex;
	width: 30px;
	height: 30px;
	top: 0;
	display: none;
	background-color: transparent;
	z-index: 1;
	float: left;
}



/* Showcase ---------------- */					/* Showcase ---------------- */						/* Showcase ---------------- */
.showcase {
	display: flex;
	height: 400px;
	color: var(--secoundary-color);
}

.profile {
	margin: 32px 0 0 0;
	align-items: center;
	padding: 24px 42px 24px	10%;
	display: flex;
}

.text_box {
	width: 50%;
	min-width: 550px;
	padding: 24px 10% 24px 24px;
	margin: 32px 0 0 0;
	box-sizing: border-box;
}

.profileimage {
	max-width: 500px;
}
/* Showcase ---------------- END */ 			/* Showcase ---------------- END */ 			/* Showcase ---------------- END */




.button {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 24px 8px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid var(--primary-color);
	background: transparent;
	color: var(--primary-color);
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.span {
	background: #009688;
	height: 100%;
	width: 0%;
	border-radius: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	/* "send to back" */
	z-index: -1;
	transition: 0.4s;
}

.button:hover span {
	width: 100%;
}

.button:hover {
	transition: 0.6s;
	border: 2px solid #fff;
}

.button2 {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.span2 {
	background: #009688;
	height: 100%;
	width: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	/* "send to back" */
	z-index: -1;
	transition: 0.5s;
}

.button2:hover span {
	transition: 0.2s;
	background: #fff;
	color: #000;
}

.button2:hover {
	transition: 0.2s;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}




/* Columns       ----------------*/				/* Columns       ----------------*/					/* Columns       ----------------*/
.column {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 350px;
	padding: 18px;
	height: 620px;
	/* Should be removed. Only for demonstration */
	margin-top: 32px;
}

.column1 {
	background-color: white;
	color: var(--secoundary-color);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 350px;
	min-width: 300px;
	padding: 18px;
	height: 620px;
	/* Should be removed. Only for demonstration */
	margin: 32px;
	transition: transform 0.1s;
	transition: box-shadow 2000 ms;
}

.column1:hover {
	transform: translatey(-0.4rem) scaleX(1);
	box-shadow: 0px 0.4rem 0.5px var(--secoundary-color);
}

.column1:hover .photohorizontal {
	filter: brightness(110%);
	/* Set the desired opacity on hover */
	transition: brightness 0.1s;
	/* Add transition for smooth effect */
}



.column2 {
	background-color: #fff;
	border-radius: 8px;
	line-height: 12px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 500px;
	min-width: 300px;
	padding: 18px;
	height: 480px;
	margin: 32px;
}

.column2:hover {
	transform: translatey(-0.4rem) scaleX(1);
	box-shadow: 0px 0.4rem 0.5px var(--secoundary-color);
}

.column2:hover .photovertical {
	filter: brightness(110%);
	/* Set the desired opacity on hover */
	transition: brightness 0.1s;
	/* Add transition for smooth effect */
}


.column3 {
	background-color: #fff;
	border-radius: 8px;
	line-height: 12px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 450px;
	padding: 18px;
	height: 620px;
	/* Should be removed. Only for demonstration */
	margin: 32px;
}

.column3:hover {
	transform: translatey(-0.4rem) scaleX(1);
	box-shadow: 0px 0.4rem 0.5px var(--secoundary-color);
}

.column3:hover .photovertical {
	filter: brightness(110%);
	/* Set the desired opacity on hover */
	transition: brightness 0.1s;
	/* Add transition for smooth effect */
}


.column4 {
	background-color: #fff;
	color: var(--secoundary-color);
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items:start;
	min-width: 300px;
    padding: 18px;
    margin: 32px 10% 32px 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column4:hover {
	transform: translatey(-0.4rem) scaleX(1);
	box-shadow: 0px 0.4rem 0.5px var(--secoundary-color);
}

.column4:hover .photoside {
	filter: brightness(110%);
	/* Set the desired opacity on hover */
	transition: brightness 0.1s;
	/* Add transition for smooth effect */
}

/* Columns       ---------------- END */				/* Columns       ---------------- END */					/* Columns       ---------------- END */


.row {
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: space-evenly;
	margin-bottom: 32px;
}

.margin {
	margin-left: 2%;
	margin-right: 2%;
}

.photovertical {
	padding: none;
	border: none;
	max-width: 500px;
	min-width: none;
}

.photoside {
	max-width: 50%;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
	margin: 12px 12px 12px 12px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}



/* Hero Button Products */
.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	border-radius: 25px;
}

.hero-btn:hover {
	border-radius: 25px;
	border: 2px solid var(--primary-color);
	background: var(--primary-color);
	color: #fff;
	transition: 0.3s;
}

.hero-btn {
	transition: background-color 0.2s ease-in-out, color 0.09s ease-in-out;
}

/* ElementsProduct       ---------------- END */				/* ElementsProduct       ---------------- END */					/* ElementsProduct       ---------------- END */
.ElementsProduct {
	margin: 0 auto;
	color: var(--tertiary-color);
	height: 900px;
	display: block;
}


/*columnRow */

.rowProduct {
	display: flex;
	/*gap:10px;*/
}

.columnProduct {
	background-color: #F4F4F4;
	padding: 0 0;
}

.TextProduct {
	color: var(--secoundary-color);
	margin-left: 48px;
	font-weight: 100;
	text-align: left;
	font-size: 16px;
	margin-top: 48px;
	margin-right: 150px;
}


.small { 																						 /* Check This  */
	flex: 0;
}




.ProfileImageProduct {
	margin-top: 48px;
	margin-left: 150px;
	max-width: 400px;
	/* Adjust size as needed */
	min-width: 200px;
	border-radius: 8px 8px 0px 0px;
	transition: opacity 0.3s ease;
}


/* 3 images */
.images {
	padding-top: 24px;
	min-width: 549px;
}

/* 3 images 1st out of 3 (1/3)*/
.ImagemainProduct {
	margin-left: 150px;
	width: 100px;
	margin-right: 46px;
	border-radius: 0px 0px 8px 8px;
	transition: transform 0.1s;
	transition: box-shadow 2000 ms;
	transition: opacity 0.3s ease;
	cursor: pointer;
}
.ImagemainProduct:hover {
	transform: translatey(-0.3rem) scaleX(1);
	box-shadow: 0px 0.4rem 0.5px var(--secoundary-color);
}

/* 3 images 2nd out of 3 (2/3)*/
.Image2Product {
	margin-right: 46px;
	max-width: 100px;
	/* Adjust size as needed */
	min-width: 20px;
	border-radius: 0px 0px 8px 8px;
	transition: transform 0.1s;
	transition: box-shadow 2000 ms;
	cursor: pointer;
}
.Image2Product:hover {
	transform: translatey(-0.4rem) scaleX(1);
	box-shadow: 0px 0.3rem 0.5px var(--secoundary-color);
}

/* 3 images 3rd out of 3 (3/3)*/
.Image3Product {
	max-width: 100px;
	/* Adjust size as needed */
	min-width: 20px;
	border-radius: 0px 0px 8px 8px;
	transition: transform 0.1s;
	transition: box-shadow 2000 ms;
	cursor: pointer;
}
.Image3Product:hover {
	transform: translatey(-0.4rem) scaleX(1);
	box-shadow: 0px 0.4rem 0.5px var(--secoundary-color);
}





.interested {																				 /* Check This  */
	margin-top: 12px;
	margin-left: 47px;
	font-size: 16px;
	max-width: 1200px;
	min-width: 200px;
	color: var(--secoundary-color);

}

.middle {
	float: middle;
	align-items: center;
	justify-content: center;
	color: var(--secoundary-color);
}


.black {
	color: var(--primary-color);
}


.divdefault {															 /* Check This  */
	position: relative;
	float: left;
	width: 100%;
	clear: both;
}


/* Sidebar */

.sidebar-container {
	display: flex;
	flex-direction: row-reverse;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.sidebar {
	display: flex;
 	width: 130px;
 	height: 101vh;
 	background-color: var(--secoundary-color);
 	align-items: right;
}

.sidebar-selected {
	display: flex;
 	width: 130px;
 	height: 101vh;
 	background-color: var(--tertiary-color);
 	align-items: right;
}

.sidebar-selected .text {
	display: flex;
    flex-direction: row; 
    align-items: center; /* Keep items aligned in a row */
    gap: 20px; /* Space between text-column and sidebar-row */
    padding: 24px;
	writing-mode: vertical-rl;
	color: var(--secoundary-color);
}


.sidebar .text {
    display: flex;
    flex-direction: row; 
    align-items: center; /* Keep items aligned in a row */
    gap: 20px; /* Space between text-column and sidebar-row */
    padding: 24px;
	writing-mode: vertical-rl;
	color: var(--tertiary-color);
}


.sidebar .text h4 {
	text-decoration: none;
	font-size: 28px;
	margin: 0px 0px 0px 0px;
	color: var(--tertiary-color);
}

.sidebar-selected .text h4 {
	text-decoration: none;
	font-size: 28px;
	margin: 0px 0px 0px 0px;
	color: var(--secoundary-color);
}


.text-column {
	display: flex;
    flex-direction: column;
}


.sidebar-container a {
	text-decoration: none;
}

.smaller-icon {
    width: 30px;
	height: 30px;
	display: none;
}
.sidebar:hover .smaller-icon {
    display: block;
}
.sidebar-selected:hover .smaller-icon {
    display: block;
}


.sidebar-row {
	display: flex;
    align-items: center;
	gap: 10px;
}

/* Sidebar */

.showcase-process {
	display: flex;
	flex-direction: column;
	height: 700px;
	color: var(--secoundary-color);
}


.text_box-process {
	width: 65%;
	min-width: 550px;
	padding: 24px 10% 24px 64px;
	margin: 32px 0 0 0;
	box-sizing: border-box;
}


@media(max-width: 1400px) {

	body {
		width: 100%;
	}

	header {
		height: 50px;
	}


	.showcase {
		flex-direction: column;
		height: 740px;
	}

	.profile {
		margin: 32px 0 32px 0;
		padding: 0px 0 0px 0;
		justify-content: center;
	}
	
	.profileimage {
		max-width: 500px;
		min-width: 300px;
	}


	.text_box {
		padding: 0px 10% 0px 10%;
		margin: 0 0 0 0;
		width: 100%;
		min-width: 300px;
	}
	
	h1 {
		text-align: center;
	}

}





@media(max-width: 700px) {
	/* 700 PIXELS                                           STOP HERE 700PX */

	body {
		width: 100%;
	}

	header {
		height: 50px;
	}


	h1 {
		text-align: middle;
		font-size: 56px;
	}
	p1 {
		font-size: 16px;
	}


	.showcase {
		flex-direction: column;
		height: 740px;
	}

	.profile {
		margin: 48px 28px 18px 28px;
		padding: 0px 0 0px 0;
		justify-content: center;
	}
	.profileimage {
		max-width: 400px;
		min-width: 200px;
	}

	.text_box {
		padding: 0px 48px 0px 48px;
		margin: 0 0 0 0;
		max-width: 800px;
		min-width: none;
	}
	


	.text {
		max-width: 100%;
		margin: 32px 0 0 0px;
	}


	.container {												/* Check This  */
		padding-left: 16px;
		padding-right: 16px;
		margin-top: 24px;
	}



/* Collapsible -------------------------------- */					/* Collapsible -------------------------------- */					/* Collapsible -------------------------------- */

.titlebig {
	margin: 0 0 0 0px;
}

	.collapsible {
		padding: 12px 24px 12px 32px;
	}

}