@charset "UTF-8";


body {
	font-family: Halyard Text Regular, halyard-text, halyard-display;
	background-color: var(--tertiary-color);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

.banner {
	width: 100%;
	height: 1000px;
}

.menubox {
	display: flex;
	justify-content: center;
}
.square {
	display: flex;
	justify-content: center;
	position: fixed;
	margin: 0 auto;
	height: 70px;
	width: 80%;
	z-index: 1;
	background-color: white;
	top: 20px;
	border-radius: 35px;
}




















.navbar {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0px;
	background-color: transparent;
	z-index: 2;
	padding: 0px 10% 0px 10%;
}


ul {
	margin-top: 14px;
	margin-bottom: 0px;

}

/* Apresenta a cor do texto */
.navbar ul li {
	list-style: initial;
	display: inline-block;
	margin: 8px 21px;
	position: relative;
}

/* Apresenta a cor do texto e outras definições */
.navbar ul li a {
	text-decoration: none;
	color: #212427;
	text-transform: uppercase;
	font-size: 20px;
	transition: color 0.25s ease;
}

/* Faz uma transição do sublinhado aparecer da esquerda para a direita a 100% */
.navbar ul li::after {
	content: '';
	height: 2px;
	width: 0%;
	background: var(--primary-color);
	display: block;
	margin: auto;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;

}

/* Faz uma transição do sublinhado aparecer da esquerda para a direita a 100% */
.navbar ul li:hover::after {
	width: 100%;
	background: #000;
	position: absolute;
	left: 0;
	bottom: -10px;
}


nav {
	width: 100%;
	text-align: right;
	margin-right: 25px;
}

header nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	float: middle;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}

ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

ul li:hover a {
	color: var(--primary-color);
}

.logo-container {
	right: 0;
	/* Aligns the element to the right */
	padding: 0;
	margin-top: 22px;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	z-index: 2;
	width: 240px;
	/* Maintains the specified width */
}

.logo {
	width: 240px;
	z-index: 1;
}

.menu-button {
	display: none;
}

.toggle-checkbox {
	display: none;
}



















@media(max-width: 1400px) {


.menubox {
	display: flex;
	justify-content: center;
}

.logo-container {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	justify-content: center;
	align-items: center;
	padding: 14px 42px 14px 0;
	margin: 0;
}

.logo-menu {
	width: 140px;
	/* Your desired logo size */

}
.logo {
	width: 180px;
}








.square {
	position: fixed;
	height: 48px;
	width: 100%;
	z-index: 1;
	background-color: white;
	top: 0;

	justify-content: unset;
	margin: 0;
	border-radius: 0;
}

nav {
	width: 100%;
	float: none;
	margin: 0 0 0 0;
}

.logo {
	width: 180px;
}

.navbar {
	padding: 0px 46px 0px 46px;
}


/* ------------ */
.menu__toggle {
	position: relative;
	z-index: 0;

	width: 48px;
	height: 48px;

	justify-content: center;
	align-items: center;
	/* Centering vertically */
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: transparent;


	justify-content: flex-end;
	/* Align to the right side */
	align-items: center;
}

.toggle-checkbox {
	display: none;
}

/*width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center; 
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: transparent;
	z-index: 2;*/

.menu__links {
	position: absolute;
	width: 110vw;
	height: 120vh;
	margin: -100px 0 0 -50px;
	padding: 125px 50px 50px 50px;
	background-color: white;
	z-index: 0;
	transform: translateY(-100%);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.toggle-checkbox:checked~.menu__links {
	transform: none;
}

.menu-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	display: inline-flex;
	align-items: center;
	width: none;
	justify-content: center;
	position: relative;
	/* Allows the label to be clickable */
	z-index: 2;
	/* Ensure it's above the menu */

	height: 100%;
}

.hamburger-icon {
	width: 24px;
	height: 24px;
}

.menu__links a {
	color: var(--secoundary-color);
	transition: color 0.3s ease;
}



.menu__links li {
	font-size: 22px;
}

/* ------------ */


.hamburger-icon:hover {
	transform: scale(1.1);
		/* Slight zoom effect on hover */
}





.profile {}


.navbar ul li {
	display: block;
	margin: 24px 24px 24px 24px;
}



}
















@media(max-width: 700px) {


.logo-container {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	justify-content: center;
	align-items: center;
	padding: 14px 24px 14px 0;
	margin: 0;
}

.logo-menu {
	width: 140px;
	/* Your desired logo size */

}
.logo {
	width: 180px;
}










.navbar {
	padding: 0px 26px 0px 26px;
}


/* ------------ */
.menu__toggle {
	position: relative;
	z-index: 0;

	width: 48px;
	height: 48px;

	justify-content: center;
	align-items: center;
	/* Centering vertically */
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: transparent;


	justify-content: flex-end;
	/* Align to the right side */
	align-items: center;
}

.toggle-checkbox {
	display: none;
}

/*width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center; 
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: transparent;
	z-index: 2;*/

.menu__links {
	position: absolute;
	width: 90vw;
	height: 120vh;
	margin: -100px 0 0 -50px;
	padding: 125px 50px 50px 50px;
	background-color: white;
	z-index: 0;
	transform: translateY(-100%);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.toggle-checkbox:checked~.menu__links {
	transform: none;
}

.menu-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	display: inline-flex;
	align-items: center;
	width: none;
	justify-content: center;
	position: relative;
	/* Allows the label to be clickable */
	z-index: 2;
	/* Ensure it's above the menu */

	height: 100%;
}

.hamburger-icon {
	width: 24px;
	height: 24px;
}

.menu__links a {
	color: var(--secoundary-color);
	transition: color 0.3s ease;
}



.menu__links li {
	font-size: 22px;
}

/* ------------ */




















.hamburger-icon:hover {
	transform: scale(1.1)
		/* Slight zoom effect on hover */
}


/*
  display: flex;
  justify-content: center;
  position: fixed;
  margin: 0 auto;
  height: 70px;
  width: 80%;
  z-index: 1;
  background-color: white;
  top: 20px;
  border-radius: 35px;
*/






.text {
	max-width: 100%;
	margin: 32px 0 0 0px;
}



.navbar ul li {
	display: block;
	margin: 24px 24px 24px 24px;
}




.menubutton {
	color: 212427;
	border: 2px solid #212427;
	margin-left: 17%;
	font-size: 13px;
	background: transparent;
	cursor: pointer;
	border-radius: 25px;
	height: 20px;
	width: 20px;
	z-index: 5;
}

/* Hidden checkbox for toggling menu */
#menuToggle {
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	transition: height 1s ease;
	z-index: 3;
}

#menuToggle:checked+.overlay {
	height: 100%;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	color: white;
}

.overlay-content ul {
	list-style: none;
	padding: 0;
}

.overlay-content ul li {
	margin: 20px 0;
}

.overlay-content a {
	font-size: 36px;
	color: white;
	text-decoration: none;
	transition: color 0.3s;
}

.overlay-content a:hover {
	color: var(--fith-color);
}




/*  */
.navbar.hidden>*:not(.menubutton) {
	display: none;
}

.collapsible {
	padding: 12px 24px 12px 32px;
}

.titlebig {
	margin: 0 0 0 0px;
}

}